{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<a href="..."div class="card">
      <div class="card-body" id="home">
        <img src="..." class="card-img-top" alt="...">
        <h5 class="card-nom">...</h5>
      </div>
      <a href="..."div class="card">
      <div class="card-body" id="home">
        <img src="..." class="card-img-top" alt="...">
        <h5 class="card-nom">...</h5>
      </div>
      <a href="..."div class="card">
      <div class="card-body" id="home">
        <img src="..." class="card-img-top" alt="...">
        <h5 class="card-nom">...</h5>
      </div>
      <a href="..."div class="card">
      <div class="card-body" id="home">
        <img src="..." class="card-img-top" alt="...">
        <h5 class="card-nom">...</h5>
      </div>
      <a href="..."div class="card">
      <div class="card-body" id="home">
        <img src="..." class="card-img-top" alt="...">
        <h5 class="card-nom">...</h5>
      </div>
      <a href="..."div class="card">
      <div class="card-body" id="home">
        <img src="..." class="card-img-top" alt="...">
        <h5 class="card-nom">...</h5>
      </div>
      <a href="..."div class="card">
      <div class="card-body" id="home">
        <img src="..." class="card-img-top" alt="...">
        <h5 class="card-nom">...</h5>
      </div>
      <a href="..."div class="card">
      <div class="card-body" id="home">
        <img src="..." class="card-img-top" alt="...">
        <h5 class="card-nom">...</h5>
      </div>
      <a href="..."div class="card">
      <div class="card-body" id="home">
        <img src="..." class="card-img-top" alt="...">
        <h5 class="card-nom">...</h5>
      </div>

{% endblock %}
