<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('memoryIndex')}}">Memory</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {{ render(path('listTheme')) }}
        {# <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/memory/1">Blaze et les Monster Machines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/memory/2">La Maison de Mickey</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/memory/3">La Reine des Neiges</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/memory/4">Les Princesses Disney</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/memory/5">Pat Patrouille</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/memory/6">Peppa Pig</a>
        </li>
     
         #}
      </ul>
    </div>
 
</nav>