<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Memory</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Blaze et les Monster Machines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">La Maison de Mickey</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">La Reine des Neiges</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Les Princesses Disney</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pat Patrouille</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Peppa Pig</a>
        </li>
        {# <li class="nav-item">
          <a class="nav-link" href="#">La Reine des Neiges</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">La Reine des Neiges</a>
        </li> #}
        
      </ul>
    </div>
 
</nav>