{% extends 'base.html.twig' %}

{% block title %}Hello MemoryController!{% endblock %}

{% block body %}
<div class="carte"  data-attr="...">
        <div class="double-face">
            <div class="face">
                <img src="...">
            </div>
            <div class="arriere">
                <span>❓</span>
            </div>
        </div>
    </div>
{% endblock %}
